#game_body_div{
  text-align: center;
  background-color: #504e49;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding-bottom: 2.3vh;
  padding-top: 1.2vh;
}

#game_image_div{
  overflow:hidden;
}

#game_image{
}

#game_price{
  display: inline-block;
  float: left;
  margin-left: 10%;
  font-family: 'Molengo', Georgia, Times, serif;
  color: #009933;
  font-size: 1.4em;
  padding-top: 2%;
}

#developer_name_p{
  display: inline-block;
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 1.4em;
  color: #ffffff;
  font-weight: bold;

  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.75vw;
  padding-bottom: 0.7vw;
}

#developer_name_p:hover{
  background-color: #6A6862;
}

#developer_name_p:focus{
  background-color: #6A6862;
}

#game_name{
  display: inline-block;
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 2.5em;
  color: #ffffff;
  font-weight: bold;
}

#game_rating{
  display: inline-block;
  float: right;
  margin-right: 10%;
  font-family: 'Molengo', Georgia, Times, serif;
  color: #FFCE2B;
  font-size: 1.4em;
  padding-top: 2%;
}

#game_description{
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
}

#havebought_info{
  font-family: 'Molengo', Georgia, Times, serif;
  color: #42413D;
  float: left;
  margin-left: 10%;
  padding: 1%;
  background-color: #FFCE2B;
}


#havebought_info:hover{
  background-color: #504e49;
  color: #ffffff;
}

#buy_info{
  font-family: 'Molengo', Georgia, Times, serif;
  color: #ffffff;
  float: left;
  background-color: #009933;
  margin-left: 10%;
  padding: 1%;
}

#buy_info:hover{
  background-color: #504e49;
}



#review_div{
  margin-top: 3%;
}

#developer_name_div{

}

input{
  margin-top: 2vh;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

input.button{
  border: none;
  background-color: #42413D;
}

input.button:hover{
  background-color: #6A6862;
}

input.editview{
  border-color: #353431;
  background-color: #959492;
}

input.editview:focus{
  border-color: #FFCE2B;
}
