.post_linear_layout{
  text-align: center;
  background-color: #504e49;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding-bottom: 2.3vh;
  padding-top: 1.2vh;
}

.post_name{
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 2em;
}
.post_image{
  width: 60%;
  height: auto;
  max-height: 60vh;

  transition: height 1s;
}

.post_image:hover{
  width: 85%;
  height: auto;
  max-height: 90vh;
  transition: width 1s;
}
