<!DOCTYPE html>
<!--  -->
<link href="stylesheets/main_style.css" rel="stylesheet"  type="text/css">
<link href="stylesheets/home.css" rel="stylesheet"  type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>

<html>
<head>
  <title>IGS - NEWS</title>
</head>
  <body>
    <div id='toolbar_div'>

      <div class="cf">
        <div id='navigationbar_div'>
          <a href='index'><p class='navigation_element'>NEWS</p></a>
          <a><p class='navigation_element'>TOP</p></a>
          <form id='search_form'>
            <input type='text' id='search_editview'>
            <input type='submit' id='search_submit_button' value=' '>
          </form>
          <a href='login'><p class='navigation_element' id='username_login_frame'>LOGIN</p></a>
        </div>
      </div>

      <div id='toolbar_bottom_line'> </div>
    </div>


    <!-- POST EXAMPLE -->
    <a href="index">
      <div class='post_linear_layout'>
        <p class='post_name'>SAY HELLO TO ASSASIN'S CREED</p>
        <img class='post_image' src='images/empty.jpg'></img>

      </div>
    </a>



    <footer>
      <div id='footer_line'> </div>
     <p id='footer_text'>Mykhailo Ivanov, 2016</p>
    </footer>
  </body>

</html>
