<!DOCTYPE html>
<!--  -->
<link href="stylesheets/main_style.css" rel="stylesheet"  type="text/css">
<link href="stylesheets/login.css" rel="stylesheet"  type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
<script src="javascripts/validate.js"></script>

<html>
<head>
  <title>IGS - LOGIN</title>
</head>
  <body>
    <div id='toolbar_div'>

      <div class="cf">
        <div id='navigationbar_div'>
          <a href='index'><p class='navigation_element'>NEWS</p></a>
          <a href='top'><p class='navigation_element'>TOP</p></a>
          <form id='search_form' action='/search' method="get">
            <input type='text' id='search_editview' name='search_line'>
            <input type='submit' id='search_submit_button' value=' '>
          </form>
          <!-- session stuff -->
          <%if (user == null){%>
            <a href='login'><p class='navigation_element'>LOGIN</p></a>
          <%}else{%>
            <a href='account_page'><p class='navigation_element'>PROFILE</p></a>
            <a href='logout'><p class='navigation_element'>LOGOUT</p></a>
          <%}%>
          <!-- -->
        </div>
      </div>

      <div id='toolbar_bottom_line'> </div>
    </div>

    <div id='content'>
      <form method='post' onsubmit="return validateForm();">
        <input id="email" class='editview' name="email" placeholder="email"><br>
        <input id="password" class='editview' name="password" type='password' placeholder="password"><br>
        <input class='button' type='submit' value='OK'>
        <a href='sign_up'><input class='button' type='button' value='SIGN UP'></a>
      </form>
    </div>


    <footer>
      <div id='footer_line'> </div>
     <p id='footer_text'>Mykhailo Ivanov, 2016</p>
    </footer>
  </body>

</html>
