<!DOCTYPE html>
<!--  -->
<link href="stylesheets/main_style.css" rel="stylesheet"  type="text/css">
<link href="stylesheets/search.css" rel="stylesheet"  type="text/css">
<link href="stylesheets/feed_content.css" rel="stylesheet"  type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>

<html>
<head>
  <title>IGS - NEWS</title>
</head>
  <body>
    <div id='toolbar_div'>

      <div class="cf">
        <div id='navigationbar_div'>
          <a href='index'><p class='navigation_element'>NEWS</p></a>
          <a href='top'><p class='navigation_element'>TOP</p></a>
          <form id='search_form' action='/search' method="get">
            <input type='text' id='search_editview' name='search_line'>
            <input type='submit' id='search_submit_button' value=' '>
          </form>
          <a href='login'><p class='navigation_element' id='username_login_frame'>LOGIN</p></a>
        </div>
      </div>

      <div id='toolbar_bottom_line'> </div>
    </div>

    <div id='filter_layout'>
      <a href="/games">
        <button class="filter_button">GAMES</button>
      </a>
      <button class="filter_button">DEVELOPERS</button>
    </div>


    <% for (var i = 0; i < feed_posts.length; i++)
    {%>
    <a href="<%= feed_posts[i].href %>">
      <div class='feed_div_layout'>
        <div class='post_image_div'>
          <img class='post_image' src='images/<%= feed_posts[i].imagePath %>'></img>
        </div>
        <div class='feed_post_text_layout'>
          <p class='feed_post_title'><%=feed_posts[i].title%></p>
          <p class='feed_post_description'><%=feed_posts[i].description%></p>
        </div>
      </div>
    </a>
    <%}%>


    <footer>
      <div id='footer_line'> </div>
     <p id='footer_text'>Mykhailo Ivanov, 2016</p>
    </footer>
  </body>

</html>
