body{
  background-color:  #FDFEFE;
}

h1.sitename{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 40px;
  text-align: center;
}

header{

}

div.div_navigation{
  background-color: #303F9F;
  width: 100%;
}

#img_logo{
  height: 30px;
  vertical-align: middle;
}

button.button_navigation {
  background-color: #303F9F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0px;
  font-family: Tahoma, Geneva, sans-serif;
}

button.button_navigation:active {
  background-color: #1A237E;
}


button.button_section{
  display: inline;
  height: 260px;
  width: 48%;
}




div.div_footer{
  background-color: #303F9F;
  height: 60px;
  width: 100%;
  position: relative;
  bottom: 0
}
